.primary-btn {
	display: block;
	max-width: 330px;
	min-width: 280px;
	width: 100%;
	height: 70px;
	margin: 0 auto;
	background: #f8cd53;
	border-radius: 6px;
	color: $origin_font_color;
	font: 700 23px/70px $primary_font;
	text-align: center;
	&:hover {
		background: $origin_font_color;
		color: #f8cd53;
		transition: all .5s ease-in-out;
		text-decoration: none;
	}
}
.form-btn {
	width: 160px;
	height: 45px;
	border-radius: 2px 3px 3px 2px;
	background-color: #de2b24;
	color: $origin_font_color;
	font: 700 15px/45px $primary_font;
}
// .close-btn {
// 			position: relative;
// 			left: 20px;
// 			bottom: 115px;
// 			display: block;
// 			width: 40px;
// 			height: 40px;
// 			background: #de2b24;
// 			border: 2px solid #ffffff;
// 			border-radius: 50%;
// 			font: 300 28px/60px $primary_font;
// 		}

.contact-btn {
	width: 155px;
	height: 55px;
	border-radius: 1px;
	border: 2px solid #515151;
	background: none;
	font: 700 17px $origin_font;
	&:hover {
		background: $origin_font_color;
		color: $secondary_font_color;
		transition: all .5s ease-in-out;
	}
}