.title {
	color: $secondary_font_color;
	font: 700 36px $primary_font;
	text-align: center;
}
.subtitle {
	font: 300 20px $primary_font;
	text-align: center;
	&:after {
		display: block;
		position: relative;
		top: 15px;
		content: "";
		width: 45px;
		margin: 0 auto;
		height: 5px;
		background: #424242;
		text-align: center;
	}
}

.step-box-1 {
	position: relative;
	left: 300px;
	top: 70px;
	width: 105px;
	height: 105px;
	border: 2px solid $origin_font_color;
	background: #de2b24;
}
.step-box-2 {
	position: relative;
	right: 300px;
	bottom: 70px;
	width: 105px;
	height: 105px;
	border: 2px solid $origin_font_color;
	background: #de2b24;
}