.form-container {
	input[type='text'] {
		padding-left: 20px;
		max-width: 445px;
		min-width: 280px;
		width: 100%;
		height: 50px;
		border-radius: 3px 2px 2px 3px;
		border: 1px solid #d8d8d8;
		background-color: rgba(241, 241, 241, 0);
		&:focus {
			box-shadow: 0 0 1px 1px #1287bf;
		}
	}
	input[type="submit"] {margin-top: 35px;}
}

.contact-form {
	input[type="email"] {
		display: block;
		padding-left: 20px;
		max-width: 685px;
		min-width: 280px;
		width: 100%;
		margin: 30px auto 25px auto;
		height: 55px;
		border-radius: 1px;
		border: none;
		outline: none;
		background-color: #515151;
	}
}