.list-work {
	padding: 110px 0 130px 0;
	width: 100%;
	min-height: 870px;
	background: #de2b24;
	color: $origin_font_color;
	.title {color: $origin_font_color;}
	.subtitle {
		&:after {background: $origin_font_color;}
	}
	img {width: 100%;}
	.portfolio-container {margin-top: 45px;}


	.project {
		padding: 0;
	}
	// .hovereffect img {display: block;}
	// .overlay {
	// 	display: none;
	// 	position: absolute;
	// 	left: 0;
	// 	top: 0;
	// 	width: 100%;
	// 	height: 100%;
	// 	background: rgba(243, 94, 89, 0.9);
	// 	color: #ffffff;
	// 	text-align: center;
	// 	transition: all .5s;
	// }
	.list-works {
		li {
			position: relative;
			overflow: hidden;
		}
		img {
			display: block;
		}
	}
	.overlay {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgba(243, 94, 89, 0.9);
		color: #ffffff;
		text-align: center;
		transition: all .5s;
		transform: scale(0);
		opacity: 0;
	}
	.list-works li:hover .overlay {
		opacity: 1;
		transform: scale(1);
	}
	.fa-paper-plane-o {font-size: 36px;}
	.hovereffect-title {
		h5 {font: 700 26px $primary_font;}
		p {font: 400 16px $primary_font;}
	}
}