@import "variables";

@media (min-width: 670px) {
	.header {
		.link-logo {
			display: inline-block;
			width: 270px;
			font: 400 15px $primary_font;
		}
		img {float: left;}
		.head-logo {
			display: block;
			font: 700 37px $primary_font;
		}
	}
}