$primary_font: "Neue Helvetica", sans-serif;
$helvetica_bold_font: "Helvetica Bold", sans-serif;
$secondary_font: "OpenSans", sans-serif;
$step_font: "Georgia", sans-serif;
$origin_font: "Helvetica", sans-serif;
$primary_font_color: #5c5c5c;
$secondary_font_color: #424242;
$origin_font_color: #ffffff;



