$primary_font: "Neue Helvetica", sans-serif;
$secondary_font: "OpenSans", sans-serif;
$origin_font: "Helvetica", sans-serif;
$primary_font_color: #090909;
$secondary_font_color: #424242;
$origin_font_color: #ffffff;



